<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A new Fruit</title>
  </head>
  <body>
    <h1>New Fruit Page</h1>
    <form action="/fruits" method="POST">
      <input type="text" id="fruit-name" name="name" placeholder="Place fruit here" /><br>
      <input type="text" id="fruit-color" name="color" placeholder="Place color here" /><br>
      <label for="readyToEat">Ready To Eat?:</label><br>
      <select name="readyToEat" id="fruit-ready"><br>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
      <button type="submit">Submit</button>
    </form>
    <nav>
        <a href="/fruits/">Back to Home</a>
      </nav>
  </body>
</html>
